<div>
    <h1>Pagina principal</h1>
    {{#each products}}
    <li>
        <a href=><button>Login</button></a>

        <strong>Registrarse  </strong>-
        <strong>Productos </strong>-
        <strong>Usuarios:  </strong>-
        <strong>Logout:  </strong>-
        
       
    </li>