<form  action="/api/sessions/login" method="post"  id="Form Login">

  Email:
  <input type="email" name="email" id="email" />

  Password:
  <input type="password" name="password" id="password" />

  <input type="submit" value="Login" />

</form>



<button><a href="/api/views/restaurarPassword">RESTAURAR PASSWORD</a></button>

<button onclick=" location.href='/api/sessions/auth/github'" >GitHub</button>