{{!-- <div>
    <h1>Inyección de cookies</h1>
     <form id = "cookieForm" onsubmit="return false"> 
      <label>Username</label>
        <input name="username">
        <br />
        <label>Email</label>
        <input name="email">
        <input type="submit">
    </form>
     <button onclick="getCookie()">Ver Cookie</button> 
</div>
<script src="/static/js/cookieSetter.js"></script> 
 --}}


{{!-- <div>
    <h1>Inyección de cookies</h1>
     <form id = "cookieForm" action ="/pruebas/session" method="POST"> 
      <label>Username</label>
        <input name="username">
        <br />
        <label>Password</label>
        <input name="password">
        <input type="submit">
    </form>
     </div> --}}


     <div>
    <h1>Login</h1>
     <form id = "cookieForm" action ="api/session/login" method="POST"> 
      <label>Email</label>
        <input name="email">
        <br />
        <label>Password</label>
        <input name="password">
        <input type="submit">
       // <a href="/api/products">Entrar</a>
    </form>
    <br />
    <a href="/session/github">Entrar con Github</a>
     </div>
 
   <script src="/static/js/index.js"></script> 