 <h1>Register</h1>

<form action="/api/session/register " method="POST">
<input type="text" name="username" placeholder="Ingrese el usuario" >
<input type="text" name="first_name" placeholder="Ingrese el nombre" >
<input type="text" name="last_name" placeholder="Ingrese el apellido" >
<input type="text" name="date" placeholder="Ingrese edad" >
<input type="text" name="email" placeholder="Ingrese el email" >
<input type="text" name="password" placeholder="Ingrese el password" >
<button>Enviar</button>
</form> 

{{!--  
<script src="/static/js/index.js"></script>--}}