<div>
    <h2>Realtime Productos</h2>
     <hr>
     <form id="formProduct">
        <input type="text" name="title" id="title">
        <input type="submit" value="enviar">
     </form>
     <div>
       <div id="listProducts"></div>
     </div>
     <div>
          <ul id="messageLogs">
          </ul>
        </div>
     </div>
     <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>   
<script src="/socket.io/socket.io.js"></script>
 <script src="/static/js/realTimeProducts.js"></script>